@import "bootstrap";

h1 h2 h3 h4 h5 h6{
  padding:0;
  margin: 0;
}

body {
  background: image_url('cheap_diagonal_fabric.png');
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;

  margin-top: 10px;
  margin-bottom: 25px;

  padding: 20px;
}

.navbar{
  background:image_url('congruent_outline.png');
  box-shadow: 0px 3px 7px grey;
}

.navbar-inverse .navbar-brand{
  color: #FA9837;
  font-family: 'open_sansregular', sans-serif;
  font-weight: 600;
  letter-spacing: -0.3px;
  font-size: 26px;

}